<div class="container" style="margin-top: 10%">
<div class="row">
    <div class='card-panel white col s6 offset-s3 center-align'>
        <div class='container' style="margin-bottom: 40px; margin-top: 40px;">
                <div class="card blue s12">
                    <p class="white-text flow-text">Connectez-vous</p>
                </div>
                <form name="form" ng-submit="vm.connect()" role="form">
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="account"> Identifiant </label> 
                                <input type="text"  ng-model="vm.username"
                                    class="validate" name="account" id="account"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="password"> Mot de passe </label>
                                <input type="password" ng-model="vm.password"
                                    class="validate" name="password" id="password"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input type="submit" ng-disabled="form.$invalid" 
                                value="Se connecter" class="btn blue" />
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col s12">
                        <a ng-href="password">Mot de passe oublié</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>