.no-padding-left {
    padding-left: 0;
}

.no-border {
    border: none;
}

html, body {
  height:100%;
  min-height:100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

.sticky-header, .sticky-footer {
  flex: 0 0 auto;
}

.sticky-content {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.full-width {
    width: 100%;
}

.v-scroll {
    height: 75vh;
    overflow-y: scroll;
}