<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Identifiant</th>
                <th scope="col">Client</th>
                <th scope="col">Account</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Upgrade</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in vm.orders">
                <th scope="row">{{$index + 1}}</th>
                <td>{{order.id}}</td>
                <td>{{order.login}}</td>
                <td>{{order.rib}}</td>
                <td>{{order.type}}</td>
                <td>{{order.status}}</td>
                <td>
                    <button ng-if="vm.canUpgrade(order)"
                            ng-click="vm.upgradeOrder($index)"
                            type="button" class="btn btn-secondary">Upgrade</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>