<form ng-submit="vm.makeTransfertDebit()">
    <div class="form-row">
        <div class="form-group col">
            <input ng-model="vm.transfertDebit.ribFrom" type="text" required class="form-control mr-sm-2" placeholder="RIB source">
        </div>
        <div class="form-group col">
            <input ng-model="vm.transfertDebit.ribTo" type="text" required class="form-control mr-sm-2" placeholder="RIB destination">
        </div>
        <div class="form-group col">
            <input ng-model="vm.transfertDebit.amount" type="number" required min="0" step=any class="form-control mr-sm-2" placeholder="Value">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <input ng-model="vm.transfertDebit.label" type="text" class="form-control" placeholder="Label">
        </div>
        <div class="form-group col-push">
            <button ng-click="vm.chooseTransfert()" type="submit" class="btn btn-primary">Transfert</button>
        </div>
        <div class="form-group col-push">
            <button ng-click="vm.chooseDebit()" type="submit" class="btn btn-primary">Debit</button>
        </div>
    </div>
</form>
