<div id="messageContainer" class="container card-overflow" style="max-height: 60vh;">
    <table class="table striped card">
        <tbody>
            <tr ng-repeat="message in messages">
                <td ng-class="{'left-align light-grey' : message.direction === 'ADVISOR_TO_CLIENT',
                    'right-align white' : message.direction === 'CLIENT_TO_ADVISOR'}">
                    {{message.content}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <form ng-submit="vm.sendMessage()" role="form" class="card">
        <div class="row">
            <div class="col s10">
                <input type="text" ng-model="messageData.content" class="left-align">
            </div>
            <div class="col s2">
                <input type="submit" value="Envoyer" class="btn blue center-align" 
                    style="width: 100%; margin-top: 5%;">
            </div>
        </div>
    </form>
</div>