body {
    background-image: url('../img/open-road-at-sunset.jpg'); 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}

.card-overflow {
    overflow: auto; 
    max-height: 95vh;
}

.card-overflow::-webkit-scrollbar {
    
    display: none; 
}

img {
    max-width: 100%;
    max-height: 100%;
}