body {
    background-image: url('../img/open-road-at-sunset.jpg'); 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}

.card-overflow {
    overflow: auto; 
    max-height: 95vh;
}

.card-overflow::-webkit-scrollbar {
    
    display: none; 
}

img {
    max-width: 100%;
    max-height: 100%;
}

.fade-element-in.ng-enter {
  transition: 0.3s linear all;
  opacity: 0;
}

.fade-element-in-init .fade-element-in.ng-enter {
  opacity: 1;
}

.fade-element-in.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade-element-in.ng-leave {
  transition: 0.3s linear all;
  opacity: 1;
}
.fade-element-in.ng-leave.ng-leave-active {
  opacity: 0;
}