<div class="container">
    <div class="row">
        <div class='card-panel white col s8 offset-s2 center-align'>
            <div class='container' style="margin-bottom: 40px; margin-top: 40px;">
                <div class="card blue s12">
                    <p class="flow-text white-text">Inscrivez-vous</p>
                </div>
                <form name="form" ng-submit="vm.privateSignUp()" role="form" id="signup">
                    <div class="row">
                        <div class="col s6">
                            <div class="row">
                                <div class="input-field col s12">            
                                    <label for="lastName">Nom</label> 
                                    <input type="text" class="validate" 
                                        ng-model="vm.privateSignUpData.lastName" id="lastName" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">            
                                    <label for="firstName">Prénom</label> 
                                    <input type="text" class="validate" 
                                        ng-model="vm.privateSignUpData.firstName" id="firstName" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <label>Sexe</label>
                                </div>
                                <div class="row">
                                    <label ng-repeat="obj in vm.genders" form="signup">
                                        <input ng-model="vm.privateSignUpData.gender" ng-value="obj.key" 
                                            name="genderGroup" type="radio" required/>
                                        <span>{{obj.value}}</span>
                                    </label>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">     
                                    <label for="birthday">Date de naissance</label> 
                                    <input type="date" class="validate" 
                                        ng-model="vm.privateSignUpData.birthday" id="birthday" required>
                                </div>
                            </div>                                
                            <div class="row">
                                <div class="input-field col s12">
                                        <label for="email">Email</label> 
                                        <input type="email" class="validate" 
                                            ng-model="vm.privateSignUpData.email" id="email" required>
                                </div>
                            </div>                                                   
                        </div>
                        <div class="col s6">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="streetNbr">Numéro de rue</label> 
                                    <input type="text" class="validate" 
                                        ng-model="vm.privateSignUpData.streetNbr"
                                        id="streetNbr" pattern="[1-9][0-9]*" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="street">Rue</label> 
                                    <input type="text" class="validate" 
                                        ng-model="vm.privateSignUpData.street" id="street" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="city">Ville</label> 
                                    <input type="text" class="validate" 
                                        ng-model="vm.privateSignUpData.city" id="city" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="country">Pays</label> 
                                    <input type="text" class="validate" 
                                        ng-model="vm.privateSignUpData.country" id="country" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="phone">Téléphone</label> 
                                    <input type="tel" class="validate" 
                                        ng-model="vm.privateSignUpData.phone" 
                                        id="phone" pattern="[0-9]{10}" required>
                                </div>
                            </div>   
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <input type="submit" value="S'isncrire" 
                                ng-disabled="form.$invalid" class="btn blue" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>