<div class="container" >
    <div class="row">
        <div class='card-panel white col s8 offset-s2 center-align'>
            <div class='container' style="margin-bottom: 40px; margin-top: 40px;">
                <div class="card blue s12">
                    <p class="flow-text white-text">Inscrivez-vous</p>
                </div>
                <form name="form" ng-submit="vm.proSignUp()" role="form" id="signup">
                    <div class="row">
                        <div class="col s6">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="company">Nom de l'entreprise</label> 
                                    <input type="text" class="validate" 
                                        ng-model="vm.proSignUpData.company" id="company" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="lastName">Nom du propriétaire</label> 
                                    <input type="text" class="validate"
                                        ng-model="vm.proSignUpData.lastName" id="lastName" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="firstName">Prénom du propriétaire</label> 
                                    <input type="text" class="validate" 
                                        ng-model="vm.proSignUpData.firstName" id="firstName" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <label>Sexe</label>
                                </div>
                                <div class="row">
                                    <label ng-repeat="obj in vm.genders" form="signup">
                                        <input ng-model="vm.proSignUpData.gender" ng-value="obj.key" 
                                            name="genderGroup" type="radio" required/>
                                        <span>{{obj.value}}</span>
                                    </label>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="email">Email</label> 
                                    <input type="email" class="validate"
                                        ng-model="vm.proSignUpData.email" id="email" required>
                                </div>
                            </div>                                                                       
                        </div>
                        <div class="col s6">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="streetNbr">Numéro de rue</label> 
                                    <input type="text" class="validate"
                                        ng-model="vm.proSignUpData.streetNbr" 
                                        id="streetNbr" pattern="[1-9][0-9]*" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="street">Rue</label> 
                                    <input type="text" class="validate"
                                        ng-model="vm.proSignUpData.street" id="street" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="city">Ville</label>
                                    <input type="text" class="validate"
                                        ng-model="vm.proSignUpData.city" id="city" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="country">Pays</label>
                                    <input type="text" class="validate"
                                        ng-model="vm.proSignUpData.country" id="country" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="phone">Téléphone</label>
                                    <input type="tel" class="validate"
                                        ng-model="vm.proSignUpData.phone" id="phone"
                                        pattern="[0-9]{10}" required>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input type="submit" value="S'isncrire" class="btn blue" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>