<div class="container">
    <div class="row">
        <div class='card-panel white col s5 offset-s1 center-align'>
            <div class='container' style="margin-bottom: 40px; margin-top: 40px;">
                <div ng-include="vm.templateUrl"></div>
            </div>
        </div>
        <div class='card-panel white col s5 offset-s1 center-align'>
            <div class='container' style="margin-bottom: 40px; margin-top: 40px;">
                <form name="form" ng-submit="vm.changePassword()" role="form">
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="oldpsswd"> Ancien mot de passe </label> 
                                <input type="password" class="validate" 
                                    ng-model="vm.changePsswdData.old" id="oldpsswd">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="newpsswd"> Nouveau mot de passe </label> 
                                <input type="password" class="validate" 
                                    ng-model="vm.changePsswdData.new" id="newpsswd">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="confirmpsswd"> Confirmer le nouveau mot de passe </label> 
                                <input type="password" class="validate" 
                                    ng-model="vm.changePsswdData.confirm" id="confirmpsswd">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input type="submit" value="Changer mon mot de passe" 
                                ng-disabled="form.$invalid" class="btn blue" />
                        </div>
                    </div>
                </form>
            </div>
            <div class='container' style="margin-bottom: 40px; margin-top: 40px;">
                <form name="form" ng-submit="vm.close()" role="form">
                     <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="psswd"> Mot de passe </label>
                                <input type="password" class="validate"
                                       ng-model="vm.closeData.psswd" id="psswd">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <label for="confirm"> Confirmer le mot de passe </label>
                                <input type="password" class="validate" 
                                    ng-model="vm.closeData.confirm" id="confirm">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input type="submit" value="Supprimer votre compte" 
                                ng-disabled="form.$invalid" class="btn blue" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>