<div class="container" style="margin-top: 5%">
    <div class="row">
        <div class='card-panel white col s6 offset-s3 center-align'>
            <div class='container' style="margin-bottom: 40px; margin-top: 40px;">
                <div class="card blue s12">
                    <p class="flow-text white-text">Changez votre mot de passe</p>
                </div>
                <form name="form" ng-submit="vm.proPassword()" role="form" id="password">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="id">Votre identifiant</label> 
                            <input type="text" class="validate" 
                                ng-model="proPasswordData.id" id="id" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="firstName">Votre prénom</label>
                            <input type="text" class="validate"
                                   ng-model="proPasswordData.firstName" id="firstName" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="lastName">Votre nom de famille</label>
                            <input type="text" class="validate" 
                                ng-model="proPasswordData.lastName" id="lastName" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <label>Sexe</label>
                        </div>
                        <div class="row">
                            <label ng-repeat="obj in genders" form="signup">
                                <input ng-model="proPasswordData.gender" ng-value="obj.key" 
                                    name="genderGroup" type="radio" required/>
                                <span>{{obj.value}}</span>
                            </label>                                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="company">Votre entreprise</label>
                            <input type="text" class="validate"
                                ng-model="proPasswordData.company" id="company" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="email">Votre adresse email</label> 
                            <input type="email" class="validate" 
                                ng-model="proPasswordData.email" id="email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input type="submit" value="Confirmer"
                                ng-disabled="form.$invalid" class="btn blue" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>