<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="JNPPPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>jnpp.service.SUser</class>
    <class>jnpp.dao.entities.accounts.CurrentAccount</class>
    <class>jnpp.dao.entities.accounts.SavingAccount</class>
    <class>jnpp.dao.entities.accounts.Account</class>
    <class>jnpp.dao.entities.accounts.ShareAccount</class>
    <class>jnpp.dao.entities.accounts.Share</class>
    <class>jnpp.dao.entities.accounts.ShareTitle</class>
    <class>jnpp.dao.entities.accounts.SavingBook</class>
    <class>jnpp.dao.entities.clients.Advisor</class>
    <class>jnpp.dao.entities.clients.Private</class>
    <class>jnpp.dao.entities.clients.Client</class>
    <class>jnpp.dao.entities.transactions.Transaction</class>
    <class>jnpp.dao.entities.accounts.DebitAuthorization</class>
    <class>jnpp.dao.old.EUser</class>
    <class>jnpp.dao.entities.Message</class>
    <class>jnpp.dao.entities.BankCard</class>
    <class>jnpp.dao.entities.Check</class>
    <class>jnpp.dao.entities.Appointment</class>
    <class>jnpp.dao.entities.accounts.JointAccount</class>
    <class>jnpp.dao.entities.notifications.Notification</class>
    <class>jnpp.dao.entities.notifications.AppointmentNotification</class>
    <class>jnpp.dao.entities.notifications.MessageNotification</class>
    <class>jnpp.dao.entities.notifications.MovementNotification</class>
    <class>jnpp.dao.entities.movements.Purchase</class>
    <class>jnpp.dao.entities.movements.Transfert</class>
    <class>jnpp.dao.entities.movements.Sale</class>
    <class>jnpp.dao.entities.movements.Debit</class>
    <class>jnpp.dao.entities.movements.Trade</class>
    <class>jnpp.dao.entities.movements.Withdraw</class>
    <class>jnpp.dao.entities.movements.ShareTrade</class>
    <class>jnpp.dao.entities.movements.MoneyTrade</class>
    <class>jnpp.dao.entities.notifications.OverdraftNotification</class>
    <class>jnpp.dao.entities.PaymentMean</class>
    <class>jnpp.dao.entities.notifications.PaymentMeanNotification</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:derby://localhost:1527/JNPPDB"/>
      <property name="javax.persistence.jdbc.user" value="website"/>
      <property name="javax.persistence.jdbc.driver" value="org.apache.derby.jdbc.ClientDriver"/>
      <property name="javax.persistence.jdbc.password" value="website"/>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
